body {
    display: flex;
    flex-direction: column;
}

.header {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 50px 92px;
    gap: 38px;
}


.header__links-list {
    list-style: circle;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
    white-space: nowrap;
}

.header__link_active {
    text-decoration: none;
}

.address {
    display: flex;
    justify-content: end;
}

.header__address {
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
    font-style: normal;
}
.text-underline {
    text-decoration: underline;
}

.no-underline {
    text-decoration: none;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 180px;
}

.cover {
    position: relative;
    background-image: url('./assets/images/cover.png');
    background-size: cover;

}

.overlay {
    position: absolute;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    min-height: 100%;
    z-index: 0;
}

.cover-content {
    position: relative;
    z-index: 1;
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 50px;
}

.cover__title {
    color: #fff;
}

.aligned-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 30%;
    text-transform: uppercase;

}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.3rem;
}

.cover__description {
    display: flex;
    justify-content: space-between;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 0.9rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    width: 256px;
    height: 51px;
}

.lots {
    position: relative;
    display: flex;
    flex-direction: column;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 40px;
    color: black;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.lots__cards__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 25px;
}

.lots__card-list-item {
    position: relative;
    width: 100%;
    min-height: 596px;
}

.card__link {
    height: 100%;
    display: block;
    position: relative;
}

.card {
    position: relative;
    z-index: -1;
    height: 100%;
}

.card_type_film {
    background-image: url("./assets/images/card-film.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_book {
    background-image: url("./assets/images/card-book.png");
    background-size: cover;
    background-position: center;
    height: 100%;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_picture {
    background-image: url("./assets/images/card-picture.png");
    background-size: cover;
    background-position: center;
    height: 100%;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
}

.card__text {
   position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #fff;
    z-index: 1; 
}

.card-padding {
    padding: 48px 40px;
}

.lots__look-more-link {
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
    color: black;
    text-decoration: underline;
}

.about {
    margin: auto;
    padding-left: 47px;
    padding-top: 35px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 600px;
}

.about__logo {
    width: 100%
}

.about__logo-image {
    width: 240px;
    height: 240px;
}

.about__description {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.about__title {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}

.about__text {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 24ppx;
    font-weight: 400;
    color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 80px;
    margin-top: 180px;
}

.footer__address {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer__menu {
    display: flex;
    justify-content: flex-start;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__menu-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-link {
    width: 100%;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}